        * {
            margin-left: auto;
            margin-right: auto;
        }
        
        body {
            font-family: sans-serif;
            background-image: url(IMG_2963.heic);
            background-size: 100px 100px;
            margin: 0 auto;
        }
        
        h1 {
            font-size: 15px;
            /* text-align: center; */
        }
        
        .underline {
            display: inline-block;
            position: relative;
        }
        
        h2 {
            position: relative;
            font-size: 20px;
        }
        
        h2::before {
            content: '';
            position: absolute;
            width: 150px;
            height: 2px;
            background-color: green;
            transform: translateY(30px);
        }
        
        .underline::after {
            background-color: green;
            display: block;
            content: "あ";
            position: absolute;
            width: 240px;
            height: 2px;
            bottom: -5px;
        }
        
        .choices {
            background: white;
            width: 700px;
            height: 50px;
            margin: 10px;
            box-shadow: 0px 1px 3px rgb(204, 202, 202);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* vertical-align: middle; */
            line-height: 50px;
        }
        
        ul {
            list-style: none;
        }
        /* ヘッダー全体 */
        .header {
            width: 100%;
            position: fixed;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            /* z-index: 0; */
            background: #ffffff;
        }
        .header_contents_wrapper{
            display: flex;
            justify-content: space-between;
            margin-left: 30%;
            margin-right: 30%;
        }
        /* 左側部分　ハンバーガーとkuizyの文字 */
        .header_list_left {
            margin-top: 5px;
            display: inline-block;
        }
        /* ハンバーガー */
        .header_list_item_humburger {
            display: inline-block;
        }
        /* kuizyの文字 */
        .header_list_item_kuizy {
            color: #25ABD8;
            font-size: 25px;
            font-weight: bold;
            display: inline-block;
        }
        /* 右側部分「クイズ・診断をつくる」と「検索」 */
        .header_list_right {
            margin-top: 7px;
            vertical-align: middle;
        }
        /* クイズ・診断をつくる */
        .header_list_item_create {
            border-radius: 3px;
            background-color: #287dff;
            font-size: 11px;
            padding: 5px;
            color: #f5f5f5;
            display: inline-block;
        }
        /* 検索 */
        .header_list_item_search {
            border-radius: 3px;
            background-color: #031831;
            font-size: 11px;
            padding: 5px;
            color: #f5f5f5;
            display: inline-block;
        }
        /* 検索の虫眼鏡部分 */
        .header_list_item_search svg {
            fill: #f5f5f5;
        }



        /* ハンバーガーをクリックしたときに表示される左側部分 */
        .side {
            margin-left: 30%;
            margin-top: 38px;
            position: fixed;
            display: none;
            width: 40%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
        }
        .side_list {
            background-color: #ffffff;
            width: 50%;
            height: 100%;
        }
        .side_list_item {
            font-size: 15px;
            border-bottom: solid 1px rgba(0,0,0,.2);
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 3px;
        }
        .side_small {
            font-size: 15px;
            width: 100%;
            text-align: center;
            padding-bottom: 15px;
            padding-top: 15px;
        }


        .main {
            margin-left: 30%;
            margin-right: 30%;
        }
        /* ガチで東京の人しか解けない！ #東京の難読地名クイズ */
        .title {
            font-size: 20px;
            font-weight: bold;
            padding-top: 50px;
        }
        /* 1から10番までの全部に適用 */
        .quiz {
            margin-bottom: 3em;
        }
        /* この地名はなんて読む？ */
        .question_title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 100px;
            position: relative;
            z-index: -1;
        }
        /* 1~10のこの地名はなんて読む？ の下線部 */
        .question_title::after {
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 2px;
            background-color: #00ab36;
            margin-top: 10px;
        }
        .question_img {
            max-width: 100%;
            margin-top: 12px;
        }
        /* 1~10の３つの選択肢ボックス */
        .question_list_item {
            font-size: 15px;
            border: solid 1px #ebebeb;
            box-shadow: 0 2px 0 #ebebeb;
            margin-top: 10px;
            padding: 15px;
            font-weight: bold;
        }
        /* 1~10の正解は「」です！ */
        .question_correct_answer {
            display: none;
        }
        /* 1~10の不正解！正解は「」です！ */
        .question_wrong_answer {
            display: none;
        }


        /* 正解のボックスを押した後の変化後 */
        .question_list_item-correct {
            background-color: #287dff;
            color: #ffffff;
        }
        /* 1~10の正解は「」です！の変化後 */
        .question_correct_answer-visible {
            display: block;
            background-color: #f5f5f5;
            margin-top: 10px;
            padding: 15px;
            position: relative;
            line-height: 35px;
            pointer-events: none;
        }
        /* 1~10の正解は「」です！の下線部。変化後 */
        .question_correct_answer-visible::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 4px;
            background-color: #287dff;
            margin-top: 30px;
            font-weight: bold;
        }
        /* 不正解のボックスを押した後の変化後 */
        .question_list_item-wrong {
            background-color: #ff5128;
            color: #ffffff;
        }
        /* 1~10の不正解！正解は「」です！の変化後 */
        .question_wrong_answer-visible {
            display: block;
            background-color: #f5f5f5;
            margin-top: 10px;
            padding: 15px;
            position: relative;
            line-height: 35px;
            pointer-events: none;
        }
        /* 1~10の不正解！正解は「」です！の下線部。変化後 */
        .question_wrong_answer-visible::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 4px;
            background-color: #ff5128;
            margin-top: 30px;
            font-weight: bold;
        }
        /* 押せないようにする */
        .question_list_item_don\'tPush {
            pointer-events: none;
        }

        .footer {
            background-color: #f4f4f4;
            margin-left: 30%;
            margin-right: 30%;
        }
        .footer_list {
            width: 500px;
            padding-left: 30px;
            padding-top: 45px;
            line-height: 50px;
        }
        .footer_list_item,.footer_list_others_item{
            text-decoration: underline;
        }
        .footer_list_others,.footer_small {
            width: 100%;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .footer_list_others_item {
            display: inline-block;
        }
        

