
        
        body {
            font-family: sans-serif;
            background-image: url(IMG_2963.heic);
            background-size: 100px 100px;
            margin: 0 auto;
        }
        
        h1 {
            font-size: 15px;
            /* text-align: center; */
        }
        
        .underline {
            display: inline-block;
            position: relative;
        }
        
        .subtitle {
            position: relative;
            font-size: 20px;
            margin-top: 10px;
        }
        
        .subtitle::before {
            content: '';
            position: absolute;
            width: 150px;
            height: 2px;
            background-color: green;
            transform: translateY(30px);
        }
        
        .underline::after {
            background-color: green;
            display: block;
            content: "あ";
            position: absolute;
            width: 240px;
            height: 2px;
            bottom: -5px;
        }
        
        body {
            /* margin: 0 auto; */
            width: 60%;
        }
        
        .choices {
            background: white;
            width: 700px;
            height: 50px;
            margin-top: 10px;
        
            box-shadow: 0px 1px 3px rgb(204, 202, 202);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* vertical-align: middle; */
            line-height: 50px;
        }
        
        ul {
            list-style: none;
        }