        /* ガチで東京の人しか解けない！ #東京の難読地名クイズ */
        .title {
            font-size: 20px;
            font-weight: bold;
            margin-top: 1em;
            margin-left: 30%;
            margin-right: 30%;
        }
        /* 1から10番までの全部に適用 */
        .quiz {
            margin-left: 30%;
            margin-right: 30%;
            margin-bottom: 3em;
        }
        /* この地名はなんて読む？ */
        .question_title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 100px;
            position: relative;
        }
        /* 1~10のこの地名はなんて読む？ の下線部 */
        .question_title::after {
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 2px;
            background-color: #00ab36;
            margin-top: 10px;
        }
        /* 1~10の３つの選択肢ボックス */
        .question_list_item {
            font-size: 15px;
            border: solid 1px #ebebeb;
            box-shadow: 0 2px 0 #ebebeb;
            margin-top: 10px;
            padding: 15px;
            font-weight: bold;
        }
        /* 1~10の正解は「」です！ */
        .question_correct_answer {
            display: none;
        }
        /* 1~10の不正解！正解は「」です！ */
        .question_wrong_answer {
            display: none;
        }


        /* 正解のボックスを押した後の変化後 */
        .question_list_item-correct {
            background-color: #287dff;
            color: #ffffff;
        }
        /* 1~10の正解は「」です！の変化後 */
        .question_correct_answer-visible {
            display: block;
            background-color: #f5f5f5;
            margin-top: 10px;
            padding: 15px;
            position: relative;
            line-height: 35px;
            pointer-events: none;
        }
        /* 1~10の正解は「」です！の下線部。変化後 */
        .question_correct_answer-visible::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 4px;
            background-color: #287dff;
            margin-top: 30px;
            font-weight: bold;
        }
        /* 不正解のボックスを押した後の変化後 */
        .question_list_item-wrong {
            background-color: #ff5128;
            color: #ffffff;
        }
        /* 1~10の不正解！正解は「」です！の変化後 */
        .question_wrong_answer-visible {
            display: block;
            background-color: #f5f5f5;
            margin-top: 10px;
            padding: 15px;
            position: relative;
            line-height: 35px;
            pointer-events: none;
        }
        /* 1~10の不正解！正解は「」です！の下線部。変化後 */
        .question_wrong_answer-visible::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 4px;
            background-color: #ff5128;
            margin-top: 30px;
            font-weight: bold;
        }
        /* 押せないようにする */
        .question_list_item_don\'tPush {
            pointer-events: none;
        }


